<h1>Properties#index</h1>

<table>
  <thead>
    <tr>
      <th>Casa</th>
      <th>Dirección</th>
      <th>description</th>
      <th>Precio/mes</th>
      <th>Disponible</th>
    </tr>
  </thead>

  <tbody>
    <% @property.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.address %></td>
        <td><%= property.description %></td>
        <td><%= property.price %></td>
        <td><%= property.available %></td>
      </tr>
    <% end %>
  </tbody>
</table>

--<%= link_to 'Nueva', properties_new_path %>
