<%= form_for :user, url: users_create_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
	<%= f.radio_button :gender, "0"%>
	<%= label_tag(:gender_female, "Female")%>
	<%= f.radio_button :gender, "1"%>
	<%= label_tag(:gender_male, "Male")%>
  </p>

  <p>
    <%= f.label :age %><br>
    <%= f.text_area :age %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.text_area :password %>
  </p>

  <p>
    <%= f.label :phone %><br>
    <%= f.text_area :phone %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
